<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>이름</th>
        <th>브랜드</th>
        <th>번호</th>
        <th>차종류</th>
        <th>인증</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="fastinquired : ${fastinquireds}">
        <td th:text="${fastinquired.id}"></td>
        <td th:text="${fastinquired.name}"></td>
        <td th:text="${fastinquired.brand}"></td>
        <td th:text="${fastinquired.carsort}"></td>
        <td th:text="${fastinquired.phone}"></td>
        <td th:text="${fastinquired.auth}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>