.admincustomer_container{
    display: flex;
    flex-direction: column; 
}
.logo{
    margin:5%;
    text-align: center;
}
.brand_title{
    display: flex;
    flex-direction: row;
}
#date{
width:30%;
}
.brand{
    flex-grow: 1;
    max-width: 50%;
    float: left;
    min-height: 10px;
    text-align: center;
}

.brand input{
    height:30%;
    width:70%;
    border:none;
    font-size: large;
    border-bottom: 1px solid black;
    text-align: center;
}
.title input{
    height:30%;
    width:70%;
    border:none;
    font-size: large;
    border-bottom: 1px solid black;
    text-align: center;
}

.title_title{
    font-size: x-large;
    font-weight: lighter;
}
.title{
    flex-grow:1;
    text-align: center;
}
.logo img{
    max-width:25%
}
.text{
    display: flex;
    flex-direction: column;
    margin:5%;
}
.text .text_text1{
    flex-grow: 1;
    max-width: 100%;
    
    min-height: 10px;
    text-align: center;
}
.text textarea{
    text-align: center;
    max-width: 100%;
    float: right;
}
.text .text_text2{
    flex-grow: 1;
    display: flex;
}
.text_trash1{
    flex-grow: 1;
}
.text_text_text{
    flex-grow: 2.6;
}
.text_text_text textarea{
    min-width: 100%;
    min-height: 10rem;
    text-align: left;
    resize:none;
}
.text_trash2{
    flex-grow: 1;
}
.trash1{
    flex-grow:1;
}
.trash2{
    flex-grow: 1;
}
.sort_pay{
    display: flex;
    flex-direction: row;
}
.addimg{
    display: flex;
    flex-direction: row;
}
.add_img{
    flex-grow: 1;
    text-align: center;
}
#preview{
    max-width: 30%;
    justify-content: center;
    text-align:center;
}
.bottom{
    text-align: center;
}
.submit_button{
    width:300px;
    height: 50px;
    color:rgb(8, 8, 8);
    background-color: rgb(182, 216, 245);
    border-radius: 10%;
    border:none;
}
.submit_button:hover{
    background-color: rgb(13, 13, 13);
    color:rgb(238, 236, 236);
    transition: 0.3s;
}
.clock{
    display:none;
    border:none;
}

