.fastinquired_container{
    margin:10%;

}
.top{
    text-align: center;
}
.top img{
    width:30%;
}
.middle{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    min-width: 100%;
    margin:5%;
}
.table{
    min-width:100%;
    max-width: 100%;
}
.table th{
    border-bottom:  1px solid black;

}
.table td{
    text-align: center;
    border-bottom: 1px solid rgb(206, 206, 206);
}
.board_page{
    text-align: center;
}
.board_page a{
    text-decoration: none;
    color:black;
      display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
    font-weight: lighter;
}
.board_page a:hover{
    background-color: black;
    color:azure;
    transition: 0.5s;
}
.board_page a.bt {
    padding-top: 8px;
    font-size: 1rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 8px;
    font-size:  1rem;
}
.board_page a:first-child {
    border-left: 1px solid #ddd;
}
.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}
.success{
    width:100%;
    min-height:100%;
    background-color: rgb(216, 234, 238);
    border:none;
}
.success:hover{
    background-color: rgb(85, 167, 239);
    color:white;
    transition: 0.5s;
}
.delete{
    width:100%;
    background-color: rgb(216, 234, 238);
    border: none;
}
.delete:hover{
    background-color: rgb(244, 60, 60);
    color:white;
    transition: 0.5s;
}

