
a{text-decoration:none;}

.admincustomer_container{
    display: flex;
    flex-direction: column;
    margin:5%;
}
.admincustomer_logo{
    text-align: center;
}
.admincustomer_logo img{
    width: 30%;
}
.second_container{
  display: flex;
  flex-direction: row;
  max-width:100%;
  min-width:100%;
  margin:5%;
}
.title{
    font-size: x-large;
    text-align: center;
    font-weight: bold;
}
.tit{
   font-size: medium;
    text-align: center;
}
.table{
  min-width:100%;
  max-width: 100%;
}
.table th{
  border-bottom:  1px solid black;

}
.table td{
  text-align: center;
  border-bottom: 1px solid rgb(206, 206, 206);
}



.wrap{
  margin:1%;
  text-align: center;
}

.pop_inner img{
  width:100%;
  height:100%;
}
.success{
    width:100%;
    min-height:100%;
    background-color: rgb(216, 234, 238);
      margin:5px;
        padding:4px 6px;
        font-weight:bold;
    border:none;
}
.success:hover{
    background-color: rgb(85, 167, 239);
    color:white;
    transition: 0.5s;
}
.delete{
    color:#050505;
     background-color: rgb(216, 234, 238);
     border:none;
    margin:5px;
    padding:4px 6px;
    font-weight:bold;
    width:100%
}
.delete:hover{
    background-color: rgb(245, 82, 82);
    color:white;
    transition: 0.5s;
}
.btn_open{
  font-weight:bold;
   margin:5px;
    padding:4px 6px;
     color:#050505;
     background-color: rgb(216, 234, 238);
     border:none;
}
.btn_open:hover{
    background-color: rgb(85, 167, 239);
    color:white;
    transition: 0.5s;
}
.pop_inner input{
text-align:center;
width:5%;
}
.pop_wrap{
  position:fixed;
   top:0;
    left:0;
     right:0;
      bottom:0;
       background:rgba(0,0,0,.5);
        font-size:0;
         text-align:center;}
.pop_wrap:after{
  display:inline-block;
   height:100%;
   vertical-align:middle;

   content:'';}
.pop_wrap .pop_inner{
  display:inline-block;
  padding:20px 30px;
  background:#fff;
  width:400px;
  height:400px;
  vertical-align:middle;
  font-size:15px;
}
.pop_inner{
    display: flex;
    flex-direction: row;
}

.changebutton{
  border:none;
  background-color: rgb(248, 230, 230);
  color:black;
  font-weight: bold;
}
.changebutton:hover{
  background-color: rgb(135, 217, 255);
  transition: 0.5s;
  color:white;
}
.popup_show{
  opacity: 1;
  z-index:1000;
  transition: all 1s;
  margin:5%;
  border:2px solid black;

}