@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
#header{
    color:black;
}
body #header{
    font-family: 'Noto Sans KR', sans-serif;
}
body #footer{
    font-family: 'Noto Sans KR', sans-serif;
}

.request_container{
  display:flex;
  flex-direction: column;
    background: #ffffff;
    min-height: 1500px;

}
.request_container .request_banner{
  flex-grow: 0.1;
  background-image: url("/img/new_banner02.jpg");
  background-size: cover;
  min-height: 350px;
}
.request_container .request_body{
    flex-grow: 0.1;
    display: flex;
    flex-direction: row;
}
.request_container .request_footer{
  flex-grow: 0.1;
}
.request_body .request_sidebar1{
     flex-grow: 0.4;
}
.request_body .request_chest{
    flex-grow:1;
    padding:10%;
}
.request_body .request_chest .request_img img{
    width:35%;
}

.request_body .request_sidebab{
    flex-grow:0.4;
}

.request_body .request_chest .form_bac {  height: 100%; background-color: (204, 226, 240, 0.695); padding:12px 10px; }
.request_body .request_chest .form_bac .form_line{ width:100%; height:90%; float:left; border:solid 10px #2b4183; }
.request_body .request_chest .form_bac .form_line .request_form{
    padding:5%;
}
.request_body .request_chest .form_bac .form_line .form_in{
    display:flex;
    flex-direction: column;
}
.request_body .request_chest .form_bac .form_line .form_in .form_title_1{

  display:flex;
  flex-direction: row;
}

.request_body .request_chest .form_bac .form_line .form_in .form_title_1 .form_title_1_center{
  flex-grow: 1;
  text-align: left;
  font-size: large;
}

.request_body .request_chest .form_bac .form_line .form_in .jum{
    color:rgb(248, 89, 89);
}
uest_chest .form_bac .form_line .form_in .form_title_1 .form_title_1_right{
  flex-grow: 0.1;
}
.light{
    font-weight: lighter;
}
.request_body .request_chest .form_bac .form_line .form_in .form_name_phone{

    display: flex;
    flex-direction: row;
    padding:2%;
}
.request_body .request_chest .form_bac .form_line .form_in .form_name_phone .form_name_phone_left{
  flex-grow: 1;
  transition: 0.4s;
}
.request_body .request_chest .form_bac .form_line .form_in .form_name_phone .form_name_phone_right{
    flex-grow: 1;
    transition: 0.4s;
}
.request_body .request_chest .form_bac .form_line .form_in .form_car_region{

    display: flex;
    flex-direction: row;
    padding:2%
}
.request_body .request_chest .form_bac .form_line .form_in .form_car_region .form_car_region_left{
    flex-grow: 1;
    transition: 0.4s;
  }
  .request_body .request_chest .form_bac .form_line .form_in .form_car_region .form_car_region_right{
      flex-grow: 1;
      transition: 0.4s;
  }
.request_body .request_chest .form_bac .form_line .form_in .form_content{

    display: flex;
    flex-direction: row;
}
.request_body .request_chest .form_bac .form_line .form_in .form_content .form_content_sidebar{
    flex-grow: 0.1;
}
.request_body .request_chest .form_bac .form_line .form_in .form_content .form_content_content{
    flex-grow: 4;
}
.request_body .request_chest .form_bac .form_line .form_in .form_content .form_content_content .content_textarea{
    border-radius: 3%;
    border: 3px solid #2b4183;
    min-width: 90%;
    min-height: 100%;
    resize : none;

}
#back_img{
width:100%;
background-size:cover;

}
#back_img img{
width:100%;
background-size:cover;
max-height:500px;
}
.request_body .request_chest .form_bac .form_line .form_in .form_title_2{

    font-size: large;
}
.request_body .request_chest .form_bac .form_line .form_in .form_title_2 .form_title_2_flex{
    display:flex;
}
.request_body .request_chest .form_bac .form_line .form_in .form_title_2 .form_title_2_sidebar{
    flex-grow: 0.1;
}
.request_body .request_chest .form_bac .form_line .form_in .form_title_2 .form_title_2_content{
    flex-grow:4;
    font-size: xx-small;
}
.request_body .request_chest .form_bac .form_line .form_in .form_title_2 .form_title_2_content textarea{
    min-width:100%;
    min-height:100px;
    font-size:xx-small;
    color:#999999;
    font-weight:300px;
}
.request_body .request_chest .form_bac .form_line .form_in .form_agreecontent{

    display: flex;
}
.request_body .request_chest .form_bac .form_line .form_in .submit_button{

    display: flex;
}

.request_body .request_chest .form_bac .form_line .form_in input[type="text"]{
    min-width:80%;
    min-height: 2rem;
    border: none;
    border-bottom: 3px solid #2b4183;
}
.request_body .request_chest .form_bac .form_line .form_in input[type="text"]:focus{
    outline: none;
}
.coment{
    font-size: x-small;
    color:#999999
}
.form_agreecontent .form_agreecontent_left{
     flex-grow: 0.9;
}
.form_agreecontent .form_agreecontent_right{
    flex-grow: 0.1;
}
.submit_button .submit_button_left{
flex-grow: 0.47;
}
.submit_button .submit_button_right{
    flex-grow: 0.1;
    min-height: 3rem;
    min-width: 10rem;
}
.submit_button .submit_button_right button{
    min-width: 100%;
    min-height: 100%;
    background-color: #ffffff;
    border-color: #2b4183;
    color: #5c5c5c;
    font-size: large;
    font-weight: bold;
}
.submit_button .submit_button_right .submit_button_button:hover{
    background-color: #2b4183;
    color:#ffffff;
    transition: 0.4s;
    border-color: #ffffff;
}
 @media (max-width: 319px) and (min-width: 220px) {
.pop_wrap .pop_inner {
    display: inline-block;
    padding: 20px 30px;
    background: #fff;
    width: 200px;
    height: 400px;
    vertical-align: middle;
    font-size: 10px;
}
.btn_close {
    background-color: #b2b8b8;
    color: #ffffff;
    width: 20%;
    border: 1px solid #b2b8b8;
}
}
 @media (max-width: 400px) and (min-width: 320px) {
.pop_wrap .pop_inner {
    display: inline-block;
    padding: 20px 30px;
    background: #fff;
    width: 200px;
    height: 500px;
    vertical-align: middle;
    font-size: 13px;
}
.btn_close {
    background-color: #b2b8b8;
    color: #ffffff;
    width: 23%;
    border: 1px solid #b2b8b8;
}
}
 @media (max-width: 699px) and (min-width: 401px) {
	
	
.pop_wrap .pop_inner {
    display: inline-block;
    padding: 20px 30px;
    background: #fff;
    width: 300px;
    height: 500px;
    vertical-align: middle;
    font-size: 14px;
}
.btn_close {
    background-color: #b2b8b8;
    color: #ffffff;
    width: 20%;
    border: 1px solid #b2b8b8;
}
}
@media (max-width: 950px) and (min-width:700px) {
	.pop_wrap .pop_inner {
    display: inline-block;
    padding: 20px 30px;
    background: #fff;
    width: 400px;
    height: 470px;
    vertical-align: middle;
    font-size: 16px;
}
.btn_close {
    background-color: #b2b8b8;
    color: #ffffff;
    width: 20%;
    border: 1px solid #b2b8b8;
}
}
@media (max-width:1050px){
    .request_body{
        width:100%;
    }
    .request_body .request_sidebar1{
        width:100%;
    }
    .request_body .request_sidebab{
        width: 100%;
    }
    .request_chest{
        width: 100%;
    }
    .form_bac{
        width: 80%;
    }
    .reqeust_form{
        width: 100%;
    }
    .request_body .request_chest .form_bac .form_line .form_in .form_title_1 .form_title_1_center{
        font-size: large;
    }
    .request_body .request_chest .form_bac .form_line .form_in .form_title_1{
        font-size: x-small;
    }
    .request_body .request_chest .form_bac .form_line .form_in .form_title_1 .form_title_1_right input[type="checkbox"]{
      max-width: 50%;
    }
    .request_body .request_sidebar1{
        display: none;
    }
    .request_body .request_sidebab{
        display: none;

    }
    .request_body .request_chest .form_bac .form_line .form_in .form_name_phone {
       display: block;
    }
    .request_body .request_chest .form_bac .form_line .form_in .form_car_region {
       display: block;
    }
    .request_body .request_chest{
       padding:0%;
    }
    .request_body .request_chest .form_bac {  height: 100%; width:90%;background-color: (204, 226, 240, 0.695);}
    .request_body .request_chest .form_bac .form_line .form_in .form_title_2 .form_title_2_content textarea{
        min-width:90%;
        min-height:100px;
        font-size:xx-small;
        color:#999999;
        font-weight:300px;
    }
    .request_body .request_chest .form_bac .form_line .form_in input[type="text"]{
        min-width:93%;
        min-height: 2rem;
        border: none;
        border-bottom: 3px solid #2b4183;
    }
    .request_body .request_chest .form_bac .form_line{
         width:100%; 
         height:93%; 
         float:left;
          border-bottom:none;
    }
}
