<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/admincustomermanage.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/admincustomermanage.js" type="text/javascript" defer="defer"></script>
    <title>Document</title>
</head>
<body>
<div class="admincustomer_container">
    <div class="admincustomer_logo">
        <img src="/img/dawonlogo.png" alt="">
    </div>
    <div class="title">고객 후기 관리</div>
    <div class="tit">*리뷰는 메인페이지에 0~4번까지만 보입니다*</div>
    <div class="second_container">
        <table class="table">
            <thead>
            <tr>
                <th>Number</th>
                <th>Brand</th>
                <th>Carsort</th>
                <th>Title</th>
                <th>Price</th>
                <th>Date</th>
                <th>이미지 확인</th>
                <th>내용 확인</th>
                <th>순서 변경</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customerupload : ${customeruploads}" th:style="${customerupload.number <=4 ? 'background-color:#DFE3FF;':'background-color:white'}">
                <td th:text="${customerupload.number}"></td>
                <td th:text="${customerupload.brand}"></td>
                <td th:text="${customerupload.carsort}"></td>
                <td th:text="${customerupload.title}"></td>
                <td th:text="${customerupload.price}"></td>
                <td th:text="${customerupload.date}"></td>
                <td><button class="btn_open" th:field="pop_info_imgcheck+${customerupload.number}">이미지 확인</button></td>
                <div th:id="pop_info_imgcheck+${customerupload.number}" class="pop_wrap" style="display:none;">
                    <div class="pop_inner">
                        <img th:src="@{/uploadimg?name=}+${customerupload.sysdate}"/>
                        <button type="button" class="btn_close">닫기</button>
                    </div>
                </div>

                <td><button class="btn_open" th:field="pop_info_textcheck+${customerupload.number}">내용 확인</button></td>
                <div th:id="pop_info_textcheck+${customerupload.number}" class="pop_wrap" style="display:none;">
                    <div class="pop_inner">
                        <div th:text="${customerupload.textarea}"></div>
                        <button type="button" class="btn_close">닫기</button>
                    </div>
                </div>

                <td><button class="btn_open" th:field="pop_info_customerupload_change+${customerupload.number}">순서 변경</button></td>
                <div th:id="pop_info_customerupload_change+${customerupload.number}" class="pop_wrap" style="display:none;">
                    <div class="pop_inner">
                        <h2>후기 순서 변경</h2>
                        <br>
                        <div><h4>현재 순서</h4></div>
                        <div th:class="changenumber+${customerupload.number}" th:text="${customerupload.number}"></div>
                    <div><h4>바꿀 순서</h4></div>
                    <div><input th:class="changenumber+${customerupload.number}" type="text"></div>
                    <br>
                    <div><button th:field="${customerupload.number}" th:id="${customerupload.id}"  class="changebutton"onclick="changenumber(this.getAttribute('id'),this.getAttribute('field'))">순서변경</button></div>
                    <br>
                    <button type="button" class="btn_close">닫기</button>
                </div>

    <td><button class="delete" th:field="${customerupload.number}" th:id="${customerupload.id}" onclick="remove(this.getAttribute('id'),this.getAttribute('field'))">삭제</button></td>
    </tr>
    </tbody>
    </table>
</div>
</div>
<script>
</script>

</body>
</html>
