<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/adminpage.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/adminpage.js" type="text/javascript" defer="defer"></script>

    <title>Document</title>
</head>
<body>
<div class="admin_container">
    <div class="sidebar">
        <div class="sidetitle">
            <img src="/img/dawonlogo.png">
        </div>
        <hr>
        <div class="sidecontent">
            <ul>

                <div class="sidecontent_title">문의</div>
                <li onclick="listfastinquired()">빠른 문의 확인</li>
                <li onclick="listinquired()">문의 학인</li>
                <hr>
                <br>

                <div class="sidecontent_title">차량</div>
                <li onclick="listcar()">차량 관리(수정,삭제)</li>

                <hr>
                <br>
                <div class="sidecontent_title">배너</div>
                <li  onclick="adminbanner()" >배너 관리(수정,삭제)</li>

                <hr>
                <br>
                <div class="sidecontent_title">고객 후기</div>
                <li onclick="addcustomer()">고객 후기 추가</li>
                <li onclick="customermanage()">고객 후기 관리(수정,삭제)</li>
                <hr>
                <br>


            </ul>
        </div>

    </div>
    <div class="main">
        <div class="top">
            <div class="content_title">adminpage</div>
        </div>
        <div class="main_content">
            <div id = "content" class="content"/>
        </div>
    </div>
</div>
</body>
</html>