
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/admin.css">
    <title>Document</title>
</head>
<body>
     <div class="admin_login_container">
        <div class="sidebar"></div>
        <div class="main">
            <div class="top"></div>
            <div class="login_main">
                <form class="form_login" action="/adminlogin" method="post">
                <div class="dawonlogo"><img src="/img/dawonlogo.png"></div>
                    <div class="input">
                        <div><input  id="username" name="username"type="text" placeholder="아이디를 입력하세요."></div>
                        <div><input id="password" name="password"type="text" placeholder="비밀번호를 입력하세요."></div>
                    </div>
                    <button type="submit">login</button>
                </form>
                <tr th:each="admin:${admin}">
                    <td th:text="${admin.alert}"></td>
            </div>
            <div class="bottom"></div>
        </div>
        <div class="sidebab"></div>
     </div>

</body>
</html>