<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/admincustomer.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/admincustomer.js" type="text/javascript" defer="defer"></script>
    <title>Document</title>
</head>
<body>
    <div class="admincustomer_container">
        <form action="/upload"  method="post" enctype="multipart/form-data">
        <div class="logo">
            <img src="/img/dawonlogo.png">
            <div class="title"><p class="title_title">구매날짜</p>
                <input type="text" name="date" id="date" placeholder="구매날짜를 입력하세요. ex:2023.07.25">
            </div>
        </div>
            <div class="logo_bottom">
            <input class="clock" id="clock" name="sysdate" readonly/>
            </div>
        <div class="brand_title">
            <div class="trash1"></div>
            <div class="brand"><p class="title_title">브랜드</p>
                <input type="text" name="brand" placeholder="차 브랜드를 입력하세요.">
            </div>
            <div class="title"><p class="title_title">차 이름</p>
                <input type="text" name="title" placeholder="차 이름을 입력하세요.">
            </div>
            <div class="trash2"></div>

        </div>
        <div class="sort_pay">
            <div class="trash1"></div>
            <div class="brand"><p class="title_title">리스/렌트</p>
                <input type="text" name="carsort" placeholder="리스/렌트를 입력하세요.">
            </div>
            <div class="title"><p class="title_title">가격</p>
                <input type="text" name="price" placeholder="가격을 입력하세요.">
            </div>
            <div class="trash2"></div>

        </div>
        <div class="text">
            <div class="text_text1"><p class="title_title">내용</p></div>
            <div class="text_text2"> 
                <div class="text_trash1"></div>
                <div class="text_text_text">
                    <textarea name="textarea">
                    </textarea>
            </div>
                <div class="text_trash2"></div>
            </div>
        </div>
        <div class="addimg">
            <div class="trash1"></div>
            <div class="add_img"><p class="title_title">사진 추가</p>
                <input type="file" id="img1" name="img1" onchange="readURL(this)"/>
            </div>
            <div class="trash2"></div>
        </div>

        <div class="bottom">
            <img id="preview" alt="">
            <div>
            <input type="submit" class="submit_button" value="등록">
            </div>
        </div>
        </form>
    </div>
</body>
</html>