body{
    background-color: rgb(254, 254, 254);
}
hr{
    background-color: black;
    height: 3px;
    width: 100%;
}
.admin_container{
    display: flex;
    min-height: 850px;
}
.admin_container .sidebar{

    display: flex;
    flex-direction: column;
}
.admin_container .sidebar .sidetitle img{
    max-width: 300px;
}
.admin_container .sidebar .sidecontent a {
    color: inherit;
    text-decoration: none;
}
.admin_container .sidebar .sidecontent li{
    margin: 15%;
    
}
.admin_container .main{
    flex-grow: 3;
    display: flex;
    flex-direction: column;
}
.admin_container .main .top{
    flex-grow: 1;
    min-height: 100px;
}
.admin_container .main .main_content{
    flex-grow: 5;
}
.content_title{
    text-align: center;
    float: center;
    font-size: 40px;
    font-weight: bold;

}

