
html, body{
    width:100%;
}
.footer_container{
    display: flex;
    flex-direction: column;
    min-height: 300px;
    max-height:300px;
    width:100%;
}
.btn_close{
    background-color: #b2b8b8;
    color:#ffffff;
    width:10%;
    border: 1px solid #b2b8b8;
}
.footer_container .footer_first{
    flex-grow: 1;
    display:flex;
    flex-direction: row;
    min-width: 100%;
    max-width: 100%;
    background-color: rgba(55, 57, 61, 0.986);
}
.footer_container .footer_first .image{
    max-width: 100%;
    float:left;
}
.footer_container .footer_first .footer_logo{
    flex-grow:1;
    min-width:450px;
    max-width:450px;
}
.footer_logo img{
    margin:10%;
    width:100%;
}
.footer_trash{
    min-width: 150px;
}
.footer_container .footer_first .footer_first_second{
    flex-grow:3;
    float: left;
    padding:3%;
    font-size: 13px;
    color: rgba(240, 248, 255, 0.555);

}
.footer_a{
    display: flex;

}
.footer_a_center{
    text-align: left;
}
.footer_a_1{
    min-width:80%;
    max-width:80%;
    text-align: center;
}

.footer_right{
    display: flex;
    flex-direction: column;
    margin:1%;
}
.footer_container .footer_first .footer_first_forth{
    flex-grow:3;
    float: left;
}
.footer_row{
    display: flex;
    flex-direction: row;
}
.footer_left{
    min-width:450px;
    max-width:450px;
    font-size: large;
}


.footer_container .footer_second{
    display: flex;
    flex-direction: row;
    background-color: rgba(27, 29, 29, 0.897);
    color: rgba(240, 248, 255, 0.555);
    font-size: large;
    font-weight: bold;
}
.footer_container .footer_second .footer_second_first{
    flex-grow:1;
    text-align: right;
}
.footer_container .footer_second .footer_second_trash{
    min-width: 100px;
    text-align: center;
}
.footer_container .footer_second .footer_second_second{
    flex-grow:1;
    text-align: left;
}
.copyright{
    color:rgba(240, 248, 255, 0.274)
}
.footer_first .footer_logo .sns{
    flex-grow: 1;
      max-width: 100%;

}
.sns_ul{
    list-style: none;
}
.sns_ul li{
    float: right;
}
.pop_wrap{
    position:fixed;
     top:0;
      left:0;
       right:0;
        bottom:0;
         background:rgba(0,0,0,.5);
          font-size:0;
           text-align:center;}
  .pop_wrap:after{
    display:inline-block;
     height:100%;
     vertical-align:middle;

     content:'';}
  .pop_wrap .pop_inner{
    display:inline-block;
    padding:20px 30px;
    background:#fff;
    width:400px;
    height:400px;
    vertical-align:middle;
    font-size:15px;
  }
  .pop_inner{
      display: flex;
      flex-direction: row;
  }
  @media (max-width: 1600px) {

    .footer_first{
        width:100%;
     }

     .footer_container .footer_second{
        width:100%;
        font-size: small;
     }

     .footer_container .footer_second .footer_firs .footer_first_forth{
        flex-grow: 0;
     }
     .footer_a_1{
        min-width:45%;
        max-width:45%;
        text-align: center;
     }
     .footer_logo img{
        margin:10%;
        width:100%;
    }
    .footer_trash{
        display: none;
    }
    .footer_left{

        font-size: small;
    }
    .footer_container .footer_first .footer_logo{
        flex-grow:1;
        min-width:250px;
        max-width:250px;
    }

}
@media (max-width: 1200px) {

    .footer_first{
        width:100%;
     }

     .footer_container .footer_second{
        width:100%;
        font-size: small;
     }

     .footer_container .footer_second .footer_firs .footer_first_forth{
        flex-grow: 0;
     }
     .footer_a_1{
        min-width:40%;
        max-width:40%;
        text-align: center;
     }
     .footer_logo img{
        margin:10%;
        width:100%;
    }
    .footer_trash{
        display: none;
    }
    .footer_left{

        font-size: small;
    }
    .footer_container .footer_first .footer_logo{
        flex-grow:1;
        min-width:250px;
        max-width:250px;
    }

}
@media (max-width: 1000px) {

     .footer_first{
        width:100%;
     }

     .footer_container .footer_second{
        width:100%;
        font-size: small;
     }
     .footer_container .footer_second .footer_firs .footer_first_second {
           font-size: small;
     }
     .footer_container .footer_second .footer_firs .footer_first_forth{
        flex-grow: 0;
     }
     .footer_a_1{
        min-width:30%;
        max-width:30%;
        text-align: center;
     }
     .footer_left{

        font-size: small;
    }
    .footer_container .footer_first .footer_logo{
        flex-grow:1;
        min-width:180px;
        max-width:180px;
    }

}
@media (max-width: 900px) {

     .footer_first{
        width:100%;
     }

     .footer_container .footer_second{
        width:100%;
        font-size: small;
     }
     .footer_container .footer_second .footer_firs .footer_first_second {
           font-size: small;
     }
     .footer_container .footer_second .footer_firs .footer_first_forth{
        flex-grow: 0;
     }
     .footer_a_1{
        min-width:26%;
        max-width:26%;
        text-align: center;
     }

    .footer_container .footer_first .footer_logo{
        flex-grow:1;
        min-width:70px;
        max-width:70px
    }

    .footer_left{

        font-size: small;
    }

}
@media (max-width: 740px) {
    .footer_container .footer_first{
        flex-direction: column;
    }
     .footer_first{
        width:100%;
        max-width: 100%;
        overflow-x:hidden;
     }

     .footer_container .footer_second{
        width:100%;
        font-size: small;
     }
     .footer_container .footer_second .footer_firs .footer_first_second {
           font-size: small;
     }
     .footer_container .footer_second .footer_firs .footer_first_forth{
        flex-grow: 0;
     }
     .footer_a{
        display: none;
     }
     .footer_logo img{
        display: none;
    }

     .footer_logo img{
        display: none;
    }
    .footer_container .footer_first .footer_logo{
        flex-grow:1;
        min-width:300px;
        max-width:300px
    }
    .footer_left{
        width:100%;
        max-width: 100%;
        font-size: small;
    }

}
