<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/customerreview.css">
    <title>Document</title>
</head>
<body>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div th:each ="customerupload : ${customeruploads}" class="swiper-slide">
            <div class="swiper_slide_main">
              <div class="swiper_slide_main_background">
                <img th:src="@{/uploadimg?name=}+${customerupload.sysdate}" alt="picture"/>
              </div>
            </div>
            <div class="swiper_slide_bottom">
                <div class="bottom_1">
                  <div th:text="${customerupload.brand}" class="bottom_1_left"></div>
                </div>
                <div th:text="${customerupload.title}" class="bottom_title"></div>
                <textarea disabled th:text="${customerupload.textarea}" rows="3" class="bottom_text" readonly></textarea>
                <div class="bottom_hr"><hr></div>
                <div class="bottom_date_pay">
                  <div th:text="${customerupload.date}" class="bottom_date"></div>
                </div>
            </div>
          </div>


        </div>
        <div class="swiper-pagination"></div>
      </div>
      <script>
        var swiper = new Swiper(".mySwiper", {
          slidesPerView: 3,
          spaceBetween: 50,
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
        });
      </script>
</body>
</html>
