<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/footer.css">
    <script src="/js/footer.js" type="text/javascript" defer="defer"></script>
</head>
<body>
                 <div id="pop_info_detail" class="pop_wrap" style="display:none;">
                 <div class="pop_inner">

                     <h2>약관</h2>
                     <br>

                     <div>
                         (주)다원카는 개인정보 관련 법률(개인정보보호법, 정보통신망 이용촉진 및 정보보호에 관한 법률)을 준수하며 수집된 개인정보는 해당 서비스 외에 다른 용도로 절대 사용하지 않습니다.
                         또한 (주)다원카 콜센터(1670-9313)로 요청 시 제공한 개인정보 삭제 및 동의를 철회하실 수 있습니다.
                     </div>
                     <br>
                     <div class="pop_text">
                     <div>개인정보 수집 및 이용 동의 (필수)</div>
                     <div>1) 수집목적 : 상담신청 및 금융상품 안내</div>
                     <div>2) 수집항목 : (필수) 이름, 연락처, 희망상품, 희망차량</div>
                     <div>3) 보유기간 : 제공일로 부터 1년간</div>
                     <div>4) 상담신청을 위해 필요한 최소한의 개인정보이므로 동의를 해주셔야 서비스를 이용하실 수 있습니다.</div>
                     <br>
                     <div>※ 고객님은 개인정보 수집·이용에 동의를 거부할 권리가 있으며 단, 동의 거부 시 상담 제공이 불가능합니다.</div>
                     </div>
                     <button type="button" class="btn_close">닫기</button>
                 </div>
             </div>
<footer class="footer_container">
    
    <div field="pop_info_detail" class="footer_second">
        <div class="footer_second_first">
            <p>&ensp;&ensp;&ensp;&ensp;이용약관</p>
        </div>
        <div class="footer_second_trash"><p>|</p></div>
        <div class="footer_second_second">
            <p>개인정보취급방침</p>
        </div>

    </div>
    <div class="footer_first">
        <div class="footer_trash"></div>
        <div class="footer_logo">
            <img src="/img/dawonlogo.png" alt="">
        </div>

        <div class="footer_first_second">
            <div class="footer_row">
                <div class="footer_left">
                    <p>주소 : 충북 청주시 서원구 청남로 2136번길 30 </p>
                    <p>TEL: 1670-9313/ FAX:0504-185-8672</p>
                    <p> Email: hyenbu03@naver.com</p>
                </div>
                <div class="footer_right">
                    <div class="footer_a">
                        <div class="footer_a_1">Blog</div>
                        <div class="footer_a_1">Kakao</div>
                        <div class="footer_a_1">Insta</div>
                        <div class="footer_a_1">Facebook</div>
                    </div>
                    <div class="footer_a">
                        <div class="footer_a_1"><img src="/img/blog.png" onclick="blog()" alt=""></div>
                        <div class="footer_a_1"><img src="/img/kakao.png"  onclick="kakaotalk()" alt=""></div>
                        <div class="footer_a_1"><img src="/img/insta.png" alt=""></div>
                        <div class="footer_a_1"><img src="/img/facebook.png" alt=""></div>

                    </div>


                </div>
            </div>
            <hr class="hr"/>
            <p class="copyright">Copyright (c) DawonCar. All rights reserved.</p>
        </div>


    </div>

</footer>
</body>
</html>
