<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>반응형 헤더</title>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel="stylesheet" href="/css/headerstyle.css">
    <script src="/js/scroll.js" type="text/javascript" defer="defer"></script>
    <script src="/js/header.js" type="text/javascript" defet="defer"></script>
</head>
<body>
    <header>
        <div class="container" >
            <div class="title">

                <ul>
                    <li><a href="/"><img class ="bong" src="/img/dawonlogo.png" ><li></a>
                </ul>
            </div>
            <div class="whiteback"></div>
            <ul class="menu">
                <li><a id="scroll-car" href="#" class="hide">추천차량<i class="fi fi-sr-angle-small-down"></i></a>

                </li>
               
                  <li><a href="requestpage">견적 문의 </a><i class="fi fi-sr-angle-small-down"></i></li>
                  <li><a href="#" id="scroll-customerreview" class="hide">출고 후기<i class="fi fi-sr-angle-small-down"></i></a>

                <li><a href="#">이벤트</a><i class="fi fi-sr-angle-small-down"></i></li>
            </ul>
    
            <ul class="sns">
                <li><i class="fa fa-twitter" aria-hidden="true"><img src="/img/blog.png" onclick="blog()"></i></li>
                <li><i class="fa fa-facebook" aria-hidden="true"><img src="/img/kakao.png" onclick="kakaotalk()"></i></li>
            </ul>
            
           <a href="#" class="menubar">
               <i class="fi fi-br-menu-burger" aria-hidden="true"></i>
           </a>
        </div>
    </header>
   
    <script >
        const menuBar = document.querySelector('.menubar');
        const menu = document.querySelector('.menu');
        const sns = document.querySelector('.sns');

menuBar.addEventListener('click', () => {
    // 클래스에 active가 있으면 빼주고 없으면 추가
    menu.classList.toggle('active');
    sns.classList.toggle('active');
});

    </script>
</body>
</html>
