<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DawonCar</title>
    <link rel="stylesheet" href="/css/homebody.css">
    <script src="/js/index.js" type="text/javascript" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script type="text/JavaScript">
        $(document).ready(function(){
            $("#header").load("header")
        });
        $(document).ready(function(){
          $("#footer").load("footer")
        })
        $(document).ready(function(){
          $("#slider").load("imgslider")
        })
        $(document).ready(function(){
          $("#review").load("customerreview")
        })
        $(document).ready(function(){
          $("#centerbanner").load("centerbanner")
        })
        $(document).ready(function(){
          $("#carlist").load("indexcar")
        })

    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
</head>
<body>

    <div class="home-container">
         <div class="home-first">
            <div id = "header" class="header"></div>
              <div class="header_slide">
                  <div id="slider"></div>
              </div>
         </div>
         <div class="home_first_call">
              <div class="home_first_call_trash"></div>
              <div class="home_first_call_sidebar">
                <div class="sidebar_text">
                  <p id="call_title">장기렌트, 리스도</p> 
                  <p id="call_sub">빠른 견적문의로!
                    <i class="fi fi-rs-cars"></i></p>
                </div>
              </div>

              <div class="home_first_call_main">
                   <div class="main_top"> </div>

                        <input type="hidden" class="clock" id="clock" name="date" readonly/>
                   <div class="main_main">
                      <div class="left">
                        <div>이름</div>
                        <br>
                        <div>연락처</div>
                        <br>
                        <div>차종</div>
                      </div>
                      <div class="right">
                         <div><input class="right_name" id="name" name="name" type="text"></div>
                         <br>
                         <div>
                          <select class="right_pho" id="phone" name="phone">
                            <option value="010">010</option>
                            <option value="011">011</option>
                            <option value="016">016</option>
                            <option value="017">017</option>
                            <option value="018">018</option>
                            <option value="019">019</option>
                            <option value="002">02</option>
                            <option value="031">031</option>
                            <option value="032">032</option>
                            <option value="033">033</option>
                            <option value="041">041</option>
                            <option value="042">042</option>
                            <option value="043">043</option>
                            <option value="051">051</option>
                            <option value="052">052</option>
                            <option value="053">053</option>
                            <option value="054">054</option>
                            <option value="055">055</option>
                            <option value="061">061</option>
                            <option value="062">062</option>
                            <option value="063">063</option>
                            <option value="064">064</option>
                          </select>
                              <input class="right_phone" type="text" id="phone1" name="phone1">
                              <input class="right_phone" type="text" id="phone2" name="phone2">
                          </div>
                         <br>
                         <div>
                            <input class="right_brand" id="brand" name="brand" type="text">
                            <input class="right_brand" id="carsort" name="carsort" type="text">
                          </div>
                      </div>
                  </div>

                   <div class="main_bottom">
                   개인정보 수집/이용에 동의합니다(필수).
                       <input id="auth" name="auth" type="checkbox" value="동의">
                    <button field="pop_info_detail" class="btn_open" >자세히보기</button>
                   </div>

              </div>
             <div id="pop_info_detail" class="pop_wrap" style="display:none;">
                 <div class="pop_inner">

                     <h2>약관</h2>
                     <br>

                     <div>
                         (주)다원카는 개인정보 관련 법률(개인정보보호법, 정보통신망 이용촉진 및 정보보호에 관한 법률)을 준수하며 수집된 개인정보는 해당 서비스 외에 다른 용도로 절대 사용하지 않습니다.
                         또한 (주)다원카 콜센터(1670-9313)로 요청 시 제공한 개인정보 삭제 및 동의를 철회하실 수 있습니다.
                     </div>
                     <br>
                     <div class="pop_text">
                     <div>개인정보 수집 및 이용 동의 (필수)</div>
                     <div>1) 수집목적 : 상담신청 및 금융상품 안내</div>
                     <div>2) 수집항목 : (필수) 이름, 연락처, 희망상품, 희망차량</div>
                     <div>3) 보유기간 : 제공일로 부터 1년간</div>
                     <div>4) 상담신청을 위해 필요한 최소한의 개인정보이므로 동의를 해주셔야 서비스를 이용하실 수 있습니다.</div>
                     <br>
                     <div>※ 고객님은 개인정보 수집·이용에 동의를 거부할 권리가 있으며 단, 동의 거부 시 상담 제공이 불가능합니다.</div>
                     </div>
                     <button type="button" class="btn_close">닫기</button>
                 </div>
             </div>

              <div class="home_first_call_sidebab">

                  <button onclick="submit()" class="sidebab_button"><i
                    class=
                    "fi fi-rr-search-alt"
                    ></i>견적문의</button>
           
              </div>

              <div class="home_first_call_trash2"></div>

         </div>
         <div class="home-second">
          <div class="sidebar">
            
            </div>

            <div class="home-second-main">
            <div class="home-second-main-detail"> 
                <div class="home-second-main-flex1"></div>
                <div class="home-second-main-flex2">
                <ul> 
                    <li>
                        <img src="/img/dawonlogo.png">
                    </li>
                </ul>
                </div>
            </div>
                <div id="carlist"></div>
            </div>       
              <div class="sidebab">
                  <div>
                  <img id="callimg" src="/img/call_img.jpg"style="width:110px; height:130px;">
                  <img id="inquiredimg" src="/img/inquired_img.jpg" onclick="location.href=/requestpage"style="width:110px; height:130px;">
                      <img id="talkimg" src="/img/talk_img.jpg"  onclick="kakaotalk()" style="width:110px; height:130px;">
                  </div>
              </div>
            </div>
            <div class="home-third">
              <div id="centerbanner">
           </div>
           <div class="home-forth">
              <div class="customer_review">
                <div class="review_top">
                     <p class="review_top_title"><i><span class="title_color">D</span><span class="title_color2">a</span>wonCar</i> 출고후기
                      <p class="review_top_p">다원카를 선택해주신 고객님들의 후기입니다.</p></p>
                </div>
                <div class="review_main" id="review"></div>
                <div class="review_bottom"></div>
              </div>
           </div>
         </div>
        <div class="home-fifth">
                    <br>
            <br>
            <br>
            <br>
        </div>
      <footer id="footer"></footer>
    </div>
    <script>
                           const cb = document.querySelector('#auth');
                           cb.addEventListener('change',(e)=>{
                            const value = e.target.value;
                            if(value=="비동의"){
                                e.target.value="동의";
                            }
                            else if(value=="동의"){
                                e.target.value="비동의";
                            }
                           });
    </script>
</body>
</html>
